include pug/common/_head
    block content
        include pug/common/_header
        main.main(role="main")
            .wrapper
                .main-content 
                    .view-toggle
                        input#grid(type="radio", name="toggle")
                        label.grid(for="grid") 
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0H6V6H0V0Z" fill="#3D8EDA"/>
                            <path d="M8 0H14V6H8V0Z" fill="#3D8EDA"/>
                            <path d="M16 0H22V6H16V0Z" fill="#3D8EDA"/>
                            <path d="M0 8H6V14H0V8Z" fill="#3D8EDA"/>
                            <path d="M0 16H6V22H0V16Z" fill="#3D8EDA"/>
                            <path d="M8 8H14V14H8V8Z" fill="#3D8EDA"/>
                            <path d="M8 16H14V22H8V16Z" fill="#3D8EDA"/>
                            <path d="M16 8H22V14H16V8Z" fill="#3D8EDA"/>
                            <path d="M16 16H22V22H16V16Z" fill="#3D8EDA"/>
                            </svg>
                        input#list(type="radio", name="toggle" checked)
                        label.list(for="list")
                            <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0H6V6H0V0Z" fill="#C8C7C7"/>
                            <path d="M0 8H6V14H0V8Z" fill="#C8C7C7"/>
                            <path d="M0 16H6V22H0V16Z" fill="#C8C7C7"/>
                            <path d="M9 10H24V12H9V10Z" fill="#C8C7C7"/>
                            <path d="M9 18H24V20H9V18Z" fill="#C8C7C7"/>
                            <path d="M9 2H24V4H9V2Z" fill="#C8C7C7"/>
                            </svg>
                    .card-holder
                        .card
                            .card-img
                                img(src="images/img1.jpg", alt="")
                            .card-content
                                .item-col
                                    span Today
                                    .item-row
                                        span.icon-like 128
                                        span.icon-comment 31
                                .item-col
                                    span 9-08-2016
                                    .item-row
                                        span.icon-like 67
                                        span.icon-comment 22
                                .item-col
                                    span  Image upload
                                    .item-row
                                        span 11-04-2016
                        .card
                            .card-img
                                img(src="images/img2.jpg", alt="")     
                            .card-content
                                .item-col
                                    span Today
                                    .item-row
                                        span.icon-like 128
                                        span.icon-comment 31
                                .item-col
                                    span 9-08-2016
                                    .item-row
                                        span.icon-like 67
                                        span.icon-comment 22
                                .item-col
                                    span  Image upload
                                    .item-row
                                        span 11-04-2016
                        .card
                            .card-img
                                img(src="images/img3.jpg", alt="")
                            .card-content
                                .item-col
                                    span Today
                                    .item-row
                                        span.icon-like 128
                                        span.icon-comment 31
                                .item-col
                                    span 9-08-2016
                                    .item-row
                                        span.icon-like 67
                                        span.icon-comment 22
                                .item-col
                                    span  Image upload
                                    .item-row
                                        span 11-04-2016
                        .card
                            .card-img
                                img(src="images/img4.jpg", alt="")
                            .card-content
                                .item-col
                                    span Today
                                    .item-row
                                        span.icon-like 128
                                        span.icon-comment 31
                                .item-col
                                    span 9-08-2016
                                    .item-row
                                        span.icon-like 67
                                        span.icon-comment 22
                                .item-col
                                    span  Image upload
                                    .item-row
                                        span 11-04-2016
                        .card
                            .card-img
                                img(src="images/img5.jpg", alt="")
                            .card-content
                                .item-col
                                    span Today
                                    .item-row
                                        span.icon-like 128
                                        span.icon-comment 31
                                .item-col
                                    span 9-08-2016
                                    .item-row
                                        span.icon-like 67
                                        span.icon-comment 22
                                .item-col
                                    span  Image upload
                                    .item-row
                                        span 11-04-2016
                        .card
                            .card-img
                                img(src="images/img6.jpg", alt="")
                            .card-content
                                .item-col
                                    span Today
                                    .item-row
                                        span.icon-like 128
                                        span.icon-comment 31
                                .item-col
                                    span 9-08-2016
                                    .item-row
                                        span.icon-like 67
                                        span.icon-comment 22
                                .item-col
                                    span  Image upload
                                    .item-row
                                        span 11-04-2016
                        .card
                            .card-img
                                img(src="images/img7.jpg", alt="")
                            .card-content
                                .item-col
                                    span Today
                                    .item-row
                                        span.icon-like 128
                                        span.icon-comment 31
                                .item-col
                                    span 9-08-2016
                                    .item-row
                                        span.icon-like 67
                                        span.icon-comment 22
                                .item-col
                                    span  Image upload
                                    .item-row
                                        span 11-04-2016
                        .card
                            .card-img
                                img(src="images/img8.jpg", alt="")
                            .card-content
                                .item-col
                                    span Today
                                    .item-row
                                        span.icon-like 128
                                        span.icon-comment 31
                                .item-col
                                    span 9-08-2016
                                    .item-row
                                        span.icon-like 67
                                        span.icon-comment 22
                                .item-col
                                    span  Image upload
                                    .item-row
                                        span 11-04-2016
                        .card
                            .card-img
                                img(src="images/img9.jpg", alt="")
                            .card-content
                                .item-col
                                    span Today
                                    .item-row
                                        span.icon-like 128
                                        span.icon-comment 31
                                .item-col
                                    span 9-08-2016
                                    .item-row
                                        span.icon-like 67
                                        span.icon-comment 22
                                .item-col
                                    span  Image upload
                                    .item-row.thin
                                        span 11-04-2016
                .more
                    a(href="#") LOAD MORE