
#header {
    width: 100%;
    margin-bottom: 18px;

    .header-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        background: rgba(255, 255, 255, 0.67);
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12), inset 0px 12px 24px rgba(0, 0, 0, 0.12);
        flex-wrap: wrap; 

        @include media('>=tablet') {
            gap: 86px;            
        }
    }

    .logo {
        display: block;
        padding-top: 6px;
        padding-bottom: 28px;
        width: 138px;

        & svg {
            width: 100%;

        }
    }

    .header-interactivity {
        display: flex;
        flex-direction: column;
    }

    .project-origin, .social-content, .date-content {
        @extend %flexrow;
        flex-wrap: wrap;
        justify-content: center;

        @include media('>=tablet') {
            justify-content: flex-start;
        }
    }

    .project-origin {
        margin-bottom: 16px;

       & h1 {
           font-family: 'Montserrat', Arial, Helvetica, sans-serif;
           font-size: 24px;
           font-weight: 500;
        }
        
        & .project-date {
            margin-left: 16px;
            padding: 6px 12px;
            font-weight: 400;
            font-size: 13px;
            border: 1px solid #3D8EDA;
            border-radius: 2px;
            color: #3D8EDA;
        }
    }

    .social-content {
        margin-bottom: 19px;
        font-size: 14px;
        font-weight: 400;

        &>:nth-child(2) {
            margin-left: 28px;
        }
    }
    

    .socials-item + .socials-item{
        margin-left: 10px;
    }

    .counter {
        font-weight: 700;
    }

    .date {
        display: none;
        font-size: 16px;
        padding-right: 11px;

        @include media ('>=tablet') {
            display: inline;
        }
    }

    #datepicker-2 {
        @include media('>=tablet'){
            margin-left: 24px;
        }
    }

    .date-content {
        flex-direction: column;

        @include media('>=tablet') {
            flex-direction: row;
        }
    }


    .date-content input {
        outline: transparent;
        font-size: 13px;
        color: #636264;
        display: inline-block;
        padding: 7px 0 7px 8px;
        background: transparent;
        border: 1px solid #DEDEDE;
        border-radius: 4px;
        width: 100%;

        @include media('>=tablet') {
            width: 162px;
        }
    }

    .datepicker {   
        position: relative;
        flex-grow: 1;
        width: 100%;
        margin-bottom: 15px;

        @include media ('>=tablet') {
            flex-grow: 0;
            margin-bottom: 0px;
            width: auto;
        }

        .close-icon, .calendar-icon {
            background-color: #DEDEDE;
            width: 24px;
            height: 100%;
            position: absolute;
            display: inline-block;
            right: 0;

            & svg{
                top: 4px;
                position: absolute;

            }
        }
        .calendar-icon{
            border-radius: 0 4px 4px 0;
        }
        .close-icon {
            margin-right: 24px;
        }
    }
    
}