@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?54nmzd');
    src:  url('fonts/icomoon.eot?54nmzd#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?54nmzd') format('truetype'),
      url('fonts/icomoon.woff?54nmzd') format('woff'),
      url('fonts/icomoon.svg?54nmzd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  
   .icon-like:before {
    font-family: 'icomoon' !important;
    content: "\e900";
    margin-right: 6px;
  }
  .icon-comment:before {
    font-family: 'icomoon' !important;
    content: "\e901";
    margin-right: 6px;
  }
  